<%-contentFor('title')%>
<title>Dashboard</title>
<%-contentFor('css')%>
<link rel="stylesheet" href="../css/dashboard.css">

<%-contentFor('script')%>
<script>

    let buttons = document.querySelectorAll(".image-container");
    buttons.forEach(button =>{
        button.addEventListener("click",()=>{location.href = "/tournament/new"})
    })

</script>


<%-contentFor('body')%>
<div id="tournamentsAddContainer" style="display:flex; width: 100%; height: 20rem; justify-content: center;">
    <div class="image-container">
        <img class="plus-image"/>
    </div>
    <div class="image-container">
        <img class="plus-image"/>
    </div>
    <div class="image-container">
        <img class="plus-image"/>
    </div>
    

</div>
<%-contentFor('meta')%>