<%-contentFor('title')%>
<title>Dashboard</title>
<%-contentFor('css')%>


<%-contentFor('script')%>
<script> let events = <%-events-%>;


let div = document.getElementById("events");
events.forEach(event => {
    let p = document.createElement("p");
    p.textContent = event.name;
    div.appendChild(p);
}); 

</script>



<%-contentFor('body')%>
<button onclick="location.href = '/tournament/new'">New tournament</button>
<button onclick="location.href = '/logout'">Logout</button>
<div id="events">

</div>
<%-contentFor('meta')%>
