<%- contentFor('title')%>
<title>SignUp Dawn's Fireflies</title>
<%- contentFor('script')%>

<%-contentFor('css')%>


<%- contentFor('body')%>
<div id="eventInfo">
    <p><%=event%></p>
    
</div>

<%-contentFor('meta')%> 