<%- contentFor('title')%>
<title>SignUp Dawn's Fireflies</title>
<%- contentFor('script')%>
<script src="./js/buttons.js"></script>
<%-contentFor('css')%>
<link rel="stylesheet" href="../css/buttons.css">

<%- contentFor('body')%>


<%- include('./partials/messages.ejs'); %>
<button onclick="location.href = '/login'">Login</button>
<button onclick="location.href = '/register'">Register</button>
<%-contentFor('meta')%> 