<%- contentFor('title')%>
<title>SignUp Dawn's Fireflies</title>
<%- contentFor('script')%>
<script src="./js/buttons.js"></script>
<%-contentFor('css')%>
<link rel="stylesheet" href="../css/buttons.css">

<%- contentFor('body')%>
<h1>Choose a game to sign up for</h1>

<%- include('./partials/messages.ejs'); %>
<div id="buttons">

</div>