<%-contentFor('title')%>

<%-contentFor('css')%>


<%-contentFor('script')%>
<script> let players = <%-players-%>; </script>
<script src="../js/displayList.js"></script>


<%-contentFor('body')%>

<div class="container">
<table id="table">
    <tr>
        <th>Name</th>
        <th>IGN</th>
    </tr>
    
</table>
</div>

<%-contentFor('meta')%>
<meta http-equiv="refresh" content="" />