<%-contentFor('title')%>

<%-contentFor('css')%>
<link rel="stylesheet" href="../css/table.css">

<%-contentFor('script')%>
<script> let players = <%-players-%>; </script>
<script src="../js/displayList.js"></script>
<script src="../js/pairing.js"></script>



<%-contentFor('body')%>

<div id="tableContainer" class="container">
<table id="table">
    <tr>
        <th>Name</th>
        <th>IGN</th>
    </tr>
    
</table>
</div>

<br><br>
<br>
<br>
<br>





<div id="pairings"></div>

<%-contentFor('meta')%>
<meta http-equiv="refresh" content="30" />