<%-contentFor('title')%>
<title><%=title%></title>
<%-contentFor('css')%>


<%-contentFor('script')%>
<script> let playerList = <%-playerList-%>; </script>
<script src="../js/displayList.js"></script>


<%-contentFor('body')%>
<div id="list">


</div>

<%-contentFor('meta')%>
<meta http-equiv="refresh" content="30"/> 