<%-contentFor('title')%>
<title>Pairings</title>
<%-contentFor('css')%>


<%-contentFor('script')%>
<script>let players = <%-players-%>;</script>
<script src="../js/pairings.js"></script>



<%-contentFor('body')%>
<div id="pairings"></div>


<%-contentFor('meta')%>

