<%-contentFor('title')%>
<title><%=title%></title>
<%-contentFor('css')%>
<link rel="stylesheet" href="../css/form.css">

<%-contentFor('script')%>
<script src="../js/signup.js"></script>


<%-contentFor('body')%>
<div class="container">
    
    <img src="<%= foto %>" alt="">
    <%- include('./partials/messages.ejs'); %>
    <form action="<%= action %>" method="POST" id="signupForm" class="form-container">

        <label class="form-label" for="name">Name:</label>
        <input class="form-input" type="text" name="name" id="name" required />
        <label for="ign">Riot Id:</label>
        <div id="riotId">

            <input type="text" name="ign" id="ign" required style="width:80%" placeholder="Riot Id" />
            <input type="text" style="width:20%" name="unique" id="unique" required placeholder="#AB123" />
        </div>

        <input type="hidden" name="game" id="game">
        <button type="submit" value="signup" id="signup">Signup</button>
        <button onclick="location.href = '/'">Back</button>

    </form>
</div>

<%-contentFor('meta')%>